{% extends 'inventory/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm text-center p-4">
            <h3>Confirmation de Suppression</h3>
            <p class="my-3">Wach mtaffeq tsupprimé la catégorie: <strong>{{ category.name }}</strong>?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Oui, Supprimer</button>
                <a href="{% url 'category_list' %}" class="btn btn-secondary">Annuler</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}