{% extends 'inventory/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title mb-4">Ajouter une Catégorie</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100 mt-3">Enregistrer</button>
                </form>
                <a href="{% url 'category_list' %}" class="btn btn-secondary w-100 mt-2">Retour</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}